

#drop_zone{
    margin: 30px 0;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}

#handsontable_data{
    margin-top: 10px;
    /*overflow: scroll;*/
    /*height: 300px;*/
}

.button_row{
    text-align: center;
    margin: 30px 0;
}


h3 {
    font-size: 30px;
}

.main_header, .main_subheader {
    text-align: center;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #666666;
    text-rendering: optimizelegibility;
}


.wtSpreader .htCore th{
    height: 22px !important;
}

.wtSpreader .htCore thead th {
    padding: 10px 15px;
}

.htCore th, .htCore td {
    padding: 10px 15px;
    font-family: Roboto, 'Helvetica Neue';
    color: rgb(136, 136, 136);
    font-size: 13px;
    background-color: #fff;
}

.handsontable_data_wrapper {
    text-align: center;
}

.handsontable {
    width: auto !important;
    display: inline-block;
}

.handsontable .handsontable table {
    box-shadow: none;
}

.handsontable th, .handsontable td {
    border-color: #d2d2d2;
}

.handsontable tr:first-child td {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
    background-color: rgb(249, 249, 249);
}

.main_btn {
    display: inline-block;
    cursor: pointer;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 35px;
    line-height: 33px;
    padding: 0 10px;
    vertical-align: middle;
}

.btn_blue {
    background-color: #41a3cc;
    border: 1px solid #2b8ead;
    color: #ffffff;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
}

.btn_blue:hover {
    background-color: #54b2d3;
    border-color: #2b8ead;
    color: #ffffff;
}