/////////////////////////////////////////////////////////////
///////////////////////////*COLORS*//////////////////////////
/////////////////////////////////////////////////////////////

$full_white: #fff;

$base-color1: #b2bac0;
$succes_color: #89b339;
$error_color: #f4644d;

//BACKGROUND-COLORS
$bg1: #333333;
$bg2: #a894db;
$bg3: #f1f1f1;
$bg4: #41a3cc;
$bg5: #4ba4db;
$bg6: #eaeaea;
//END OF BACKGROUND-COLORS

//TEXT COLORS
$text_color1: #818181;
$text_color2: #999;
$text_color3: #6c7984;
$text_color4: #a8a8a8;

$text_hover1: #f8f8f8;
//END OF TEXT COLORS

//Border
$border_dark: #3a3a3a;
$border_light: #e1e1e1;
$border_table: #eeeeee;
//End of Border




/////////////////////////////////////////////////////////////
///////////////////////*END OF COLORS*///////////////////////
/////////////////////////////////////////////////////////////