//CSV icon
.csv_icon {
  background: url(../img/sprite.png) no-repeat 0 0;
  display: inline-block;
  width: 56px;
  height: 64px;
}

//Upload file icon
.upload_icon {
  background: url(../img/sprite.png) no-repeat -56px 0;
  display: inline-block;
  width: 64px;
  height: 52px;
}

