@import "compass";
@import "base_styles";
@import "buttons_and_notifications";

/////////////////////////////////////////////////////////////
/////////////////////////*MAIN TABLE*////////////////////////
/////////////////////////////////////////////////////////////
.main_table {
  background-color: darken($full_white, 2.5%);
  margin-bottom: 0;
  border-bottom: none;
}

.main_table.table-bordered {
  border-top: 1px solid $border_table;;
}

.main_table.table-bordered th {
  span {
    font-size: 13px;
    font-weight: 300;
  }
  &:first-child {
    padding-right: 16px;
  }
  color: $text_color4;
  padding: 13px 10px 15px 16px;
  word-break: break-all;
  word-break: break-word;
  position: relative;
  padding-right: 60px;
  vertical-align: baseline;
}

.main_table.table-bordered td {
  font-size: 13px;
  font-weight: 300;
  color: $text_color4;
  padding: 16px 16px;
  word-break: break-all;
  word-break: break-word;
  vertical-align: baseline;
}

.main_table.table-bordered tbody tr:first-child td {
  @include box-shadow(0 5px 5px -5px rgba(0, 0, 0, 0.15) inset);
}

.main_table.table-bordered tbody tr:last-child td {
  border-bottom: none;
}

.main_table.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  border: 1px solid $border_table;
  border-right-width: 2px;
}

.main_table.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
  border: 1px solid $border_table;
  border-right-width: 2px;
}
/////////////////////////////////////////////////////////////
//////////////////////*END OF MAIN TABLE*////////////////////
/////////////////////////////////////////////////////////////
.table_wrapper {
  background-color: darken($full_white, 2.5%);
}

.table_wrapper > .row > div {
  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
}

.checkbox_wrap {
  width: 80px;
  text-align: center;
}

.unknown_cell {
  .select_match_wrapper {
    display: none;
  }
  background-color: $bg6;
  position: relative;
  min-width: 183px;
}


//This class is using for showing select block on click or other event
.unknown_cell.editable {
  span {
    display: none;
  }
  .select_match_wrapper {
    display: block;
  }
  .table_btn_wrapper {
    display: none;
  }
}

.table_btn_wrapper {
  a:first-child {
    margin-right: 5px;
  }
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}

.select_match_wrapper {
  &>div {
    float: left;
  }
  a {
    i {
      font-size: 20px;
    }
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
}

.select_btn_wrapper {
  a {
    padding-bottom: 18px;
  }
  display: inline-block;
  margin-left: 7px;
  margin-top: 7px;
}
//Table wrappers

//This class is using for hide add row/column divs.
.table_wrapper.table_edit_done {
  .top_side {
    .directly_table {
      width: 100%;
    }
    .add_column_wrapper {
      display: none;
    }
  }
  .bottom_side {
    display: none;
  }
}

.directly_table {
  width: 87.5%;
  display: inline-block;
  float: left;
  @include transition(width 0.6s);
}

.add_column_wrapper {
  width: 12.5%;
  display: inline-block;
  float: left;
}


//Add row or column
.top_side {
  border-bottom: 1px solid $border_table;
}

.add_column_btn {
  a {
    white-space: nowrap;
  }
  padding: 13px 10px 12px 16px;
  border-bottom: 1px solid $border_table;
}

.shadow_block {
  height: 10px;
  @include box-shadow(0 5px 5px -5px rgba(0, 0, 0, 0.15) inset);
}

.add_row_btn {
  a {
    margin-right: 80px;
  }
  text-align: right;
  padding: 13px 18px 12px 18px;
}
/////////////////////////////////////////////////////////////
///////////////////////*EDITABLE TABLE*//////////////////////
/////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////
/////////////////////////*SAMPLE TABLE*//////////////////////
/////////////////////////////////////////////////////////////
.sample_table {
  h4 {
    color: $text_color2;
    font-weight: 300;
    margin-bottom: 15px;
  }
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}
/////////////////////////////////////////////////////////////
/////////////////////////*SAMPLE TABLE*//////////////////////
/////////////////////////////////////////////////////////////
.editable-popup {
  position: absolute !important;
}

.main_table.table-bordered th p,.main_table.table-bordered td p {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: $text_color4;
  border-bottom: none;
}

.editable-submit {
  &:hover {
    background-color: darken($succes_color, 5%);
    border-color: $succes_color;
    color: $full_white;
  }
  color: $succes_color;
  background-color: $full_white;
  border-color: $succes_color;
}

.editable-cancel {
  &:hover {
    background-color: darken($error_color, 5%);
    border-color: $error_color;
    color: $full_white;
  }
  color: $error_color;
  background-color: $full_white;
  border-color: $error_color;
}

.editable-input {
  input:focus {
    box-shadow: none;
    border: 1px solid #ccc;
  }
}
/////////////////////////////////////////////////////////////
///////////////////////*EDITABLE POPUP*//////////////////////
/////////////////////////////////////////////////////////////



