/* line 9, ../sass/buttons_and_notifications.scss */
.main_btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 35px;
  line-height: 33px;
  padding: 0 10px;
  vertical-align: middle;
}

/* line 27, ../sass/buttons_and_notifications.scss */
.btn_blue {
  background-color: #41a3cc;
  border: 1px solid #3497c0;
  color: #fff;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 28, ../sass/buttons_and_notifications.scss */
.btn_blue:hover {
  background-color: #369dc8;
  border-color: #3497c0;
  color: #ffffff;
}

/* line 40, ../sass/buttons_and_notifications.scss */
.fileUpload {
  position: relative;
  overflow: hidden;
}

/* line 45, ../sass/buttons_and_notifications.scss */
.fileUpload input.file_cover {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 58, ../sass/buttons_and_notifications.scss */
.add_btn {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #97c343;
  font-size: 13px;
  font-weight: 300;
}
/* line 59, ../sass/buttons_and_notifications.scss */
.add_btn:hover {
  color: #97c343;
}
/* line 62, ../sass/buttons_and_notifications.scss */
.add_btn i {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 22px;
  margin-bottom: 3px;
}

/* line 75, ../sass/buttons_and_notifications.scss */
.icon_btn {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #a8a8a8;
}
/* line 76, ../sass/buttons_and_notifications.scss */
.icon_btn:hover {
  color: #818181;
}
/* line 79, ../sass/buttons_and_notifications.scss */
.icon_btn i {
  font-size: 18px;
}

/* line 86, ../sass/buttons_and_notifications.scss */
.success {
  color: #89b339;
}
/* line 87, ../sass/buttons_and_notifications.scss */
.success:hover {
  color: #6b8c2d;
}

/* line 92, ../sass/buttons_and_notifications.scss */
.error {
  color: #f4644d;
}
/* line 93, ../sass/buttons_and_notifications.scss */
.error:hover {
  color: #f13a1d;
}

/* line 101, ../sass/buttons_and_notifications.scss */
.caret_btn i {
  font-size: 12px;
  margin-left: -4px;
  color: #898989;
}

/* line 109, ../sass/buttons_and_notifications.scss */
.btn_bordered_left {
  border-left: 1px solid #e1e1e1;
  padding-left: 7px;
}

/* line 114, ../sass/buttons_and_notifications.scss */
.btn_bordered_right {
  border-right: 1px solid #e1e1e1;
  padding-right: 7px;
}

/* line 127, ../sass/buttons_and_notifications.scss */
.base_notification {
  display: inline-block;
  max-width: 500px;
  max-height: 500px;
  padding: 10px 30px 10px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 450px;
  top: 15%;
  overflow-y: auto;
}
/* line 128, ../sass/buttons_and_notifications.scss */
.base_notification span {
  color: #fff;
  font-size: 13px;
}
/* line 129, ../sass/buttons_and_notifications.scss */
.base_notification span a {
  color: #fff;
}
/* line 132, ../sass/buttons_and_notifications.scss */
.base_notification span i {
  margin-left: 60px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 155, ../sass/buttons_and_notifications.scss */
.notificaton_error {
  background-color: #f4644d;
}

/* line 159, ../sass/buttons_and_notifications.scss */
.notificaton_success {
  background-color: #89b339;
}
