<div class="main_table_wrapper">
    <div class="table_wrapper">
        <div class="top_side">
            <div class="directly_table">
                <table class="main_table table table-bordered">
                    <thead>
                    <tr>
                        <th class="checkbox_wrap">
                            <input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />
                            <label for="checkboxG1" class="css-label"></label>
                            <a class="caret_btn" href=""><i class="fa fa-caret-down"></i></a>
                        </th>

                        <th data-ng-repeat="headerTitle in tableData.headers track by $index" title="{{headerTitle}}">
                            <span>{{headerTitle | truncate:25}}</span>
                            <div class="table_btn_wrapper">
                                <a href class="icon_btn btn_bordered_right"><i class="fa fa-pencil"></i></a>
                                <a href class="icon_btn" data-ng-click="deleteColumn($index)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </th>

                        <th class="unknown_cell editable">
                            <div class="select_match_wrapper">
                                <select>
                                    <option>Select Match</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                    <option>Option 6</option>
                                </select>
                                <div class="select_btn_wrapper">
                                    <a href class="icon_btn success"><i class="fa fa-check-circle-o"></i></a>
                                    <a href class="icon_btn error"><i class="fa fa-times-circle-o"></i></a>
                                </div>
                            </div>
                            <span>Unknown</span>
                            <div class="table_btn_wrapper">
                                <a href class="icon_btn btn_bordered_right"><i class="fa fa-pencil"></i></a>
                                <a href class="icon_btn"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr data-ng-repeat="rowItem in tableData.data">
                        <td class="checkbox_wrap">
                            <input type="checkbox" name="checkboxG1" id="checkboxG2" class="css-checkbox" />
                            <label for="checkboxG2" class="css-label"></label>
                        </td>
                        <td data-ng-repeat="(key, value) in rowItem" title="{{value}}">
                            {{value | truncate:25}}
                            <div class="table_btn_wrapper">
                                <a href class="icon_btn btn_bordered_right"><i class="fa fa-pencil"></i></a>
                                <a href class="icon_btn" data-ng-click="deleteColumn($index)"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>

                        <td class="unknown_cell">X</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="add_column_wrapper">
                <div class="add_column_block">
                    <div class="add_column_btn">
                        <a href class="add_btn"><i class="fa fa-plus-circle"></i>Add new column</a>
                    </div>
                    <div class="shadow_block">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bottom_side">
            <div class="add_row_block">
                <div class="add_row_btn">
                    <a href class="add_btn"><i class="fa fa-plus-circle"></i>Add new row</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(function(){
            $('select').selectric();
        });
    });
</script>