<div class="main_table_wrapper">
    <div class="table_wrapper">
        <div class="top_side">
            <div class="directly_table">
                <table class="main_table table table-bordered">
                    <thead>
                    <tr>
                        <th class="checkbox_wrap">
                            <input id="checked_all" type="checkbox" class="css-checkbox" data-ng-click="checkUncheckAllRows()" data-ng-checked="allRowsChecked()"/>
                            <label for="checked_all" class="css-label"></label>
                            <a class="caret_btn" href=""><i class="fa fa-caret-down"></i></a>
                        </th>

                        <th data-ng-repeat="headerTitle in tableData.headers track by $index" title="{{headerTitle}}" data-ng-class="{unknown_cell: columnHasError(headerTitle)}">
                            <p data-editable-text="headerTitle" data-onaftersave="editHeader($index, $data)">{{headerTitle | truncate:25}}</p>
                        </th>

                        <th class="unknown_cell editable">
                            <div class="select_match_wrapper">
                                <select ng-model="mySelect[headerTitle]" ng-change="select(headerTitle,$index)" ng-init="mySelect[headerTitle] = tableHeaderSelects[headerTitle][0]">
                                    <option data-ng-repeat="option in tableHeaderSelects[headerTitle] track by $index" select-box value="{{option}}">{{option}}</option>
                                </select>
                                <div class="select_btn_wrapper">
                                    <a href class="icon_btn success"><i class="fa fa-check-circle-o"></i></a>
                                    <a href class="icon_btn error"><i class="fa fa-times-circle-o"></i></a>
                                </div>
                            </div>
                            <span>Unknown</span>
                            <div class="table_btn_wrapper">
                                <a href class="icon_btn btn_bordered_right"><i class="fa fa-pencil"></i></a>
                                <a href class="icon_btn"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr data-ng-repeat="rowItem in tableData.data track by $index">
                        <td class="checkbox_wrap">
                            <input type="checkbox" class="css-checkbox" data-ng-model="checkedRows[$index].checked" id="checked_{{$index}}"/>
                            <label class="css-label" for="checked_{{$index}}"> </label>
                        </td>
                        <td data-ng-repeat="(key, value) in rowItem track by $index" title="{{value}}" data-ng-class="{unknown_cell: columnHasError(key, value)}">
                            <p data-editable-text="value" data-onaftersave="editCell($parent.$index, $index, $data)">{{value | truncate:25}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="add_column_wrapper">
                <div class="add_column_block">
                    <div class="add_column_btn">
                        <a href class="add_btn" data-ng-click="addColumn()"><i class="fa fa-plus-circle"></i>Add new column</a>
                    </div>
                    <div class="shadow_block">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bottom_side">
            <div class="add_row_block">
                <div class="add_row_btn">
                    <a href class="add_btn"><i class="fa fa-plus-circle"></i>Add new row</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
//    $(document).ready(function(){
//        $(function(){
//            $('select').selectric();
//        });
//    });
</script>