<div class="main_table_wrapper">
    <div class="table_wrapper">
        <div class="top_side">
            <div class="add_column_wrapper">
                <div class="add_column_block">
                    <div class="add_column_btn">
                        <a href class="add_btn" data-ng-click="addColumn()"><i class="fa fa-plus-circle"></i>Add new column</a>
                    </div>
                </div>
            </div>
            <div class="directly_table">
                <table class="main_table table table-bordered">
                    <thead>
                    <tr>
                        <th class="checkbox_wrap">
                            <input id="checked_all" type="checkbox" class="css-checkbox" data-ng-click="checkUncheckAllRows()" data-ng-checked="allRowsChecked()"/>
                            <label for="checked_all" class="css-label"></label>
                            <a class="caret_btn" href=""><i class="fa fa-caret-down"></i></a>
                        </th>

                        <th data-ng-repeat="headerTitle in tableData.headers track by $index" title="{{headerTitle.name}}" data-ng-class="{'unknown_cell editable': columnHasError($index)}">

                            <p data-ng-hide="columnHasError($index)" data-editable-text="headerTitle.name">{{headerTitle.name | truncate:25}}</p>

                            <div data-ng-show="columnHasError($index)" class="select_match_wrapper">
                                <select ng-model="headerTitle.name" ng-change="selectChange($index,headerTitle.name);">
                                    <option data-ng-repeat="option in possibleValues track by $index" select-box value="{{option}}">{{option}}</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                    </thead>


                    <tbody>
                    <tr data-ng-repeat="row in tableData.rows track by $index">
                        <td class="checkbox_wrap">
                            <input type="checkbox" class="css-checkbox" data-ng-model="checkedRows[$index].checked" ng-init="checkedRows[$index].checked = false" id="checked_{{$index}}"/>
                            <label class="css-label" for="checked_{{$index}}"> </label>
                        </td>
                        <td data-ng-repeat="cell in row track by $index" title="{{cell.value}}" data-ng-class="{unknown_cell: columnHasError($index)}">
                            <p data-editable-text="cell.value">{{cell.value | truncate:25}}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="bottom_side">
            <div class="add_row_block">
                <div class="add_row_btn">
                    <a href class="add_btn" data-ng-click="addRow()"><i class="fa fa-plus-circle"></i>Add new row</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .editable-hide {
        display: block !important;
    }
</style>