<div class="drag_and_drop_wrapper">
    <h3>
        Supported Columns:
        <span data-ng-repeat="(name, options) in supportedColumns">
            {{name}}
            <span ng-show=" ! $last ">,</span>
        </span>
    </h3>

    <div class="drag_and_drop">
        <div id="drop_zone" title="Drop here or click to choose file"
             class="ngDropZone" data-options='{"success": successFileUpload}'
                >
        </div>
        <div class="hidden_elements_wrapper">
            <div><i class="csv_icon"></i></div>
            <div class="hidden_elements">
                <div><i class="upload_icon"></i></div>
                <p>DRAG & DROP<br><span>Your files to Assets</span></p>
                <div class="fileUpload main_btn btn_blue">
                    <span>Browse for file</span>
                    <input type="file" class="file_cover"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/dropmain.js"></script>