/* line 47, ../sass/base_styles.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 52, ../sass/base_styles.scss */
body * {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
}

/* line 58, ../sass/base_styles.scss */
textarea {
  resize: none;
  overflow-y: auto;
}

/* line 62, ../sass/base_styles.scss */
ul {
  list-style-type: none;
}

/* line 73, ../sass/base_styles.scss */
h1 {
  font-size: 32px;
  font-weight: bold;
}

/* line 74, ../sass/base_styles.scss */
h2 {
  font-size: 30px;
  font-weight: bold;
}

/* line 75, ../sass/base_styles.scss */
h3 {
  font-size: 20px;
  font-weight: bold;
}

/* line 76, ../sass/base_styles.scss */
h4 {
  font-size: 18px;
  font-weight: bold;
}

/* line 77, ../sass/base_styles.scss */
h5 {
  font-size: 14px;
}

/* line 78, ../sass/base_styles.scss */
h6 {
  font-size: 12px;
}

/* line 7, ../sass/tables_styles.scss */
.main_table {
  background-color: #f9f9f9;
  margin-bottom: 0;
  border-bottom: none;
}

/* line 13, ../sass/tables_styles.scss */
.main_table.table-bordered {
  border-top: 1px solid #eeeeee;
}

/* line 17, ../sass/tables_styles.scss */
.main_table.table-bordered th {
  color: #a8a8a8;
  padding: 13px 10px 15px 16px;
  word-break: break-all;
  word-break: break-word;
  position: relative;
  padding-right: 60px;
  vertical-align: baseline;
}
/* line 18, ../sass/tables_styles.scss */
.main_table.table-bordered th span {
  font-size: 13px;
  font-weight: 300;
}
/* line 22, ../sass/tables_styles.scss */
.main_table.table-bordered th:first-child {
  padding-right: 16px;
}

/* line 34, ../sass/tables_styles.scss */
.main_table.table-bordered td {
  font-size: 13px;
  font-weight: 300;
  color: #a8a8a8;
  padding: 16px 16px;
  word-break: break-all;
  word-break: break-word;
  vertical-align: baseline;
}

/* line 44, ../sass/tables_styles.scss */
.main_table.table-bordered tbody tr:first-child td {
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
}

/* line 48, ../sass/tables_styles.scss */
.main_table.table-bordered tbody tr:last-child td {
  border-bottom: none;
}

/* line 52, ../sass/tables_styles.scss */
.main_table.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  border: 1px solid #eeeeee;
  border-right-width: 2px;
}

/* line 58, ../sass/tables_styles.scss */
.main_table.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
  border: 1px solid #eeeeee;
  border-right-width: 2px;
}

/* line 65, ../sass/tables_styles.scss */
.table_wrapper {
  background-color: #f9f9f9;
}

/* line 70, ../sass/tables_styles.scss */
.table_wrapper > .row > div:first-child {
  padding-right: 0;
}
/* line 73, ../sass/tables_styles.scss */
.table_wrapper > .row > div:last-child {
  padding-left: 0;
}

/* line 78, ../sass/tables_styles.scss */
.checkbox_wrap {
  width: 80px;
  text-align: center;
}

/* line 83, ../sass/tables_styles.scss */
.unknown_cell {
  background-color: #eaeaea;
  position: relative;
  min-width: 250px;
}
/* line 84, ../sass/tables_styles.scss */
.unknown_cell .select_match_wrapper {
  display: none;
}

/* line 95, ../sass/tables_styles.scss */
.unknown_cell.editable span {
  display: none;
}
/* line 98, ../sass/tables_styles.scss */
.unknown_cell.editable .select_match_wrapper {
  display: block;
}

/* line 103, ../sass/tables_styles.scss */
.table_btn_wrapper {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}
/* line 104, ../sass/tables_styles.scss */
.table_btn_wrapper a:first-child {
  margin-right: 5px;
}

/* line 113, ../sass/tables_styles.scss */
.select_match_wrapper {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
}
/* line 114, ../sass/tables_styles.scss */
.select_match_wrapper > div {
  float: left;
}
/* line 117, ../sass/tables_styles.scss */
.select_match_wrapper a {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
/* line 118, ../sass/tables_styles.scss */
.select_match_wrapper a i {
  font-size: 20px;
}

/* line 131, ../sass/tables_styles.scss */
.select_btn_wrapper {
  display: inline-block;
  margin-left: 7px;
  margin-top: 7px;
}
/* line 132, ../sass/tables_styles.scss */
.select_btn_wrapper a {
  padding-bottom: 18px;
}

/* line 144, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .top_side .directly_table {
  width: 100%;
}
/* line 147, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .top_side .add_column_wrapper {
  display: none;
}
/* line 151, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .bottom_side {
  display: none;
}

/* line 156, ../sass/tables_styles.scss */
.directly_table {
  width: 87.5%;
  display: inline-block;
  float: left;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}

/* line 163, ../sass/tables_styles.scss */
.add_column_wrapper {
  width: 12.5%;
  display: inline-block;
  float: left;
}

/* line 171, ../sass/tables_styles.scss */
.top_side {
  border-bottom: 1px solid #eeeeee;
}

/* line 175, ../sass/tables_styles.scss */
.add_column_btn {
  padding: 13px 10px 12px 16px;
  border-bottom: 1px solid #eeeeee;
}
/* line 176, ../sass/tables_styles.scss */
.add_column_btn a {
  white-space: nowrap;
}

/* line 183, ../sass/tables_styles.scss */
.shadow_block {
  height: 10px;
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
}

/* line 188, ../sass/tables_styles.scss */
.add_row_btn {
  text-align: right;
  padding: 13px 18px 12px 18px;
}
/* line 189, ../sass/tables_styles.scss */
.add_row_btn a {
  margin-right: 80px;
}

/* line 202, ../sass/tables_styles.scss */
.sample_table {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 203, ../sass/tables_styles.scss */
.sample_table h4 {
  color: #999;
  font-weight: 300;
  margin-bottom: 15px;
}
