/* line 9, ../sass/buttons_and_notifications.scss */
.main_btn {
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 35px;
  line-height: 33px;
  padding: 0 10px;
  vertical-align: middle;
}

/* line 27, ../sass/buttons_and_notifications.scss */
.btn_blue {
  background-color: #41a3cc;
  border: 1px solid #3497c0;
  color: #fff;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/* line 28, ../sass/buttons_and_notifications.scss */
.btn_blue:hover {
  background-color: #369dc8;
  border-color: #3497c0;
  color: #ffffff;
}

/* line 40, ../sass/buttons_and_notifications.scss */
.fileUpload {
  position: relative;
  overflow: hidden;
}

/* line 45, ../sass/buttons_and_notifications.scss */
.fileUpload input.file_cover {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 58, ../sass/buttons_and_notifications.scss */
.add_btn {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #97c343;
  font-size: 13px;
  font-weight: 300;
}
/* line 59, ../sass/buttons_and_notifications.scss */
.add_btn:hover {
  color: #97c343;
}
/* line 62, ../sass/buttons_and_notifications.scss */
.add_btn i {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 22px;
  margin-bottom: 3px;
}

/* line 75, ../sass/buttons_and_notifications.scss */
.icon_btn {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #a8a8a8;
}
/* line 76, ../sass/buttons_and_notifications.scss */
.icon_btn:hover {
  color: #818181;
}
/* line 79, ../sass/buttons_and_notifications.scss */
.icon_btn i {
  font-size: 18px;
}

/* line 86, ../sass/buttons_and_notifications.scss */
.success {
  color: #89b339;
}
/* line 87, ../sass/buttons_and_notifications.scss */
.success:hover {
  color: #6b8c2d;
}

/* line 92, ../sass/buttons_and_notifications.scss */
.error {
  color: #f4644d;
}
/* line 93, ../sass/buttons_and_notifications.scss */
.error:hover {
  color: #f13a1d;
}

/* line 101, ../sass/buttons_and_notifications.scss */
.caret_btn i {
  font-size: 12px;
  margin-left: -4px;
  color: #898989;
}

/* line 109, ../sass/buttons_and_notifications.scss */
.btn_bordered_left {
  border-left: 1px solid #e1e1e1;
  padding-left: 7px;
}

/* line 114, ../sass/buttons_and_notifications.scss */
.btn_bordered_right {
  border-right: 1px solid #e1e1e1;
  padding-right: 7px;
}

/* line 127, ../sass/buttons_and_notifications.scss */
.base_notification {
  display: inline-block;
  max-width: 500px;
  max-height: 500px;
  padding: 10px 30px 10px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 450px;
  top: 15%;
  overflow-y: auto;
}
/* line 128, ../sass/buttons_and_notifications.scss */
.base_notification span {
  color: #fff;
  font-size: 13px;
}
/* line 129, ../sass/buttons_and_notifications.scss */
.base_notification span a {
  color: #fff;
}
/* line 132, ../sass/buttons_and_notifications.scss */
.base_notification span i {
  margin-left: 60px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 155, ../sass/buttons_and_notifications.scss */
.notificaton_error {
  background-color: #f4644d;
}

/* line 159, ../sass/buttons_and_notifications.scss */
.notificaton_success {
  background-color: #89b339;
}

/* line 8, ../sass/tables_styles.scss */
.main_table {
  background-color: #f9f9f9;
  margin-bottom: 0;
  border-bottom: none;
}

/* line 14, ../sass/tables_styles.scss */
.main_table.table-bordered {
  border-top: 1px solid #eeeeee;
}

/* line 18, ../sass/tables_styles.scss */
.main_table.table-bordered th {
  color: #a8a8a8;
  padding: 13px 10px 15px 16px;
  word-break: break-all;
  word-break: break-word;
  position: relative;
  padding-right: 60px;
  vertical-align: baseline;
}
/* line 19, ../sass/tables_styles.scss */
.main_table.table-bordered th span {
  font-size: 13px;
  font-weight: 300;
}
/* line 23, ../sass/tables_styles.scss */
.main_table.table-bordered th:first-child {
  padding-right: 16px;
}

/* line 35, ../sass/tables_styles.scss */
.main_table.table-bordered td {
  font-size: 13px;
  font-weight: 300;
  color: #a8a8a8;
  padding: 16px 16px;
  word-break: break-all;
  word-break: break-word;
  vertical-align: baseline;
}

/* line 45, ../sass/tables_styles.scss */
.main_table.table-bordered tbody tr:first-child td {
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
}

/* line 49, ../sass/tables_styles.scss */
.main_table.table-bordered tbody tr:last-child td {
  border-bottom: none;
}

/* line 53, ../sass/tables_styles.scss */
.main_table.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px;
  border: 1px solid #eeeeee;
  border-right-width: 2px;
}

/* line 59, ../sass/tables_styles.scss */
.main_table.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
  border: 1px solid #eeeeee;
  border-right-width: 2px;
}

/* line 66, ../sass/tables_styles.scss */
.table_wrapper {
  background-color: #f9f9f9;
}

/* line 71, ../sass/tables_styles.scss */
.table_wrapper > .row > div:first-child {
  padding-right: 0;
}
/* line 74, ../sass/tables_styles.scss */
.table_wrapper > .row > div:last-child {
  padding-left: 0;
}

/* line 79, ../sass/tables_styles.scss */
.checkbox_wrap {
  width: 80px;
  text-align: center;
}

/* line 84, ../sass/tables_styles.scss */
.unknown_cell {
  background-color: #eaeaea;
  position: relative;
}
/* line 85, ../sass/tables_styles.scss */
.unknown_cell .select_match_wrapper {
  display: none;
}

/* line 95, ../sass/tables_styles.scss */
.unknown_cell.editable span {
  display: none;
}
/* line 98, ../sass/tables_styles.scss */
.unknown_cell.editable .select_match_wrapper {
  display: block;
}
/* line 101, ../sass/tables_styles.scss */
.unknown_cell.editable .table_btn_wrapper {
  display: none;
}

/* line 106, ../sass/tables_styles.scss */
.table_btn_wrapper {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 10px;
}
/* line 107, ../sass/tables_styles.scss */
.table_btn_wrapper a:first-child {
  margin-right: 5px;
}

/* line 147, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .top_side .directly_table {
  width: 100%;
}
/* line 150, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .top_side .add_column_wrapper {
  display: none;
}
/* line 154, ../sass/tables_styles.scss */
.table_wrapper.table_edit_done .bottom_side {
  display: none;
}

/* line 159, ../sass/tables_styles.scss */
.directly_table {
  width: 87.5%;
  display: inline-block;
  float: left;
  -moz-transition: width 0.6s;
  -o-transition: width 0.6s;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}

/* line 166, ../sass/tables_styles.scss */
.add_column_wrapper {
  width: 12.5%;
  display: inline-block;
  float: left;
}

/* line 174, ../sass/tables_styles.scss */
.top_side {
  border-bottom: 1px solid #eeeeee;
}

/* line 178, ../sass/tables_styles.scss */
.add_column_btn {
  padding: 13px 10px 12px 16px;
  border-bottom: 1px solid #eeeeee;
}
/* line 179, ../sass/tables_styles.scss */
.add_column_btn a {
  white-space: nowrap;
}

/* line 186, ../sass/tables_styles.scss */
.shadow_block {
  height: 10px;
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.15) inset;
}

/* line 191, ../sass/tables_styles.scss */
.add_row_btn {
  text-align: right;
  padding: 13px 18px 12px 18px;
}
/* line 192, ../sass/tables_styles.scss */
.add_row_btn a {
  margin-right: 80px;
}

/* line 205, ../sass/tables_styles.scss */
.sample_table {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}
/* line 206, ../sass/tables_styles.scss */
.sample_table h4 {
  color: #999;
  font-weight: 300;
  margin-bottom: 15px;
}

/* line 220, ../sass/tables_styles.scss */
.editable-popup {
  position: absolute !important;
}

/* line 224, ../sass/tables_styles.scss */
.main_table.table-bordered th p, .main_table.table-bordered td p {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  color: #a8a8a8;
  border-bottom: none;
  font-style: inherit;
}

/* line 234, ../sass/tables_styles.scss */
.editable-buttons a {
  border: none;
  background-color: #fff;
  padding: 5px 5px;
}

/* line 240, ../sass/tables_styles.scss */
.main_table.table-bordered th, .main_table.table-bordered td {
  position: relative;
}

/* line 244, ../sass/tables_styles.scss */
.main_table.table-bordered th form, .main_table.table-bordered td form {
  position: absolute;
  background: #FFF;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 7px;
  width: 275px;
  display: inline-block;
  margin-left: -110px;
  z-index: 101;
  top: -40px;
  left: 35px;
}

/* line 258, ../sass/tables_styles.scss */
.main_table.table-bordered th form:before, .main_table.table-bordered td form:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AAA;
  position: absolute;
  bottom: -10px;
  left: 100px;
}

/* line 270, ../sass/tables_styles.scss */
.main_table.table-bordered th form:after, .main_table.table-bordered td form:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFF;
  position: absolute;
  bottom: -9px;
  left: 101px;
}

/* line 282, ../sass/tables_styles.scss */
.editable-input {
  width: 200px !important;
  height: 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 286, ../sass/tables_styles.scss */
.editable-input:focus {
  box-shadow: none;
  outline: none !important;
  border: 1px solid #ccc;
}

/* line 293, ../sass/tables_styles.scss */
.editable-buttons {
  margin-top: 3px;
}

/* line 297, ../sass/tables_styles.scss */
select.editable-input {
  width: 114px;
}
